body {
    margin: 0;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: #e8f1f2;
    background-color: #13293d;
}

.carousel {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.carousel-item-visible {
    display: block;
}

.fadeInRight{
    animation: fadeInRight 1s;
}

.fadeInLeft{
    animation: fadeInLeft 1s;
}

.carousel-item-hidden {
    display: none;
}

.carousel-item img {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}

.slide-indicator{
    display: flex;
    margin: 10px auto;
    padding:0px;
    max-width: 600px;
    justify-content: center;
    gap: 10px;
}

.slide-indicator li{
    list-style: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00547a;
}

.slide-indicator .highlighted {
    background-color: #1B98E0;
}

.btn {
    background-color: #e8f1f2;
    border-radius: 50%;
    border: 1px solid #202020; 
    cursor: pointer;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
}

#prev-slide-btn {
    left: 10%;
    position: absolute;
}

#next-slide-btn {
    position: absolute;
    right: 10%;
}

@keyframes fadeInLeft {
    from{
        opacity: 0;
        transform: translateX(-30%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from{
        opacity: 0;
        transform: translateX(30%)

    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}